ShipDetail {
    layout: horizontal;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 0 1;
    background: $boost;
    border: solid red;
}


ShipDetailPiece {
    width: 16;
    height: 3;

}

#name {
    dock: left;
    background: green;
}

#cooldown {
    dock: right;
    background: red;
}

ShipPlate {
    width: 20;
    height: 5;
    text-align: center;
}

ShipCargoPlate {
    min-width: 35;
    height: 1;
}

ShipCooldownPlate {
    min-width: 35;
}